In [1]:
import pandas as pd

df=pd.read_csv("./rag-mahakam-lightrag.csv")

df.head()

,enhanced_question,answer,mode,eval_score_llm,exec_time
0,What is the description of the project?,## Project Description\n\nThe **Mangrove Resto...,naive,7,0.000358
1,What is the specific country and city where th...,"## Project Location\n\nThe project, titled MAH...",naive,7,0.000681
2,Who are the target beneficiaries of the project?,### Target Beneficiaries of the Project\n\nThe...,naive,8,0.000632
3,How many people are impacted by the project?,### Impacted Beneficiaries of the Project\n\nT...,naive,8,0.000618
4,"What is the context, environment, rationale, a...",### Context\nThe project is focused on the Del...,naive,6,7.941240

In [2]:
df.groupby("mode").agg({"eval_score_llm": "mean"})

        eval_score_llm
mode
global        5.000000
hybrid        6.285714
local         6.857143
mix           6.857143
naive         6.857143

In [8]:
for mode in df["mode"].unique():
    row=(df[df["mode"]==mode].reset_index().loc[4])
    print(f"Mode: {mode}")
    print(f"""Eval score: {row["eval_score_llm"]}""")

Mode: naive
Eval score: 6
Mode: local
Eval score: 6
Mode: global
Eval score: 7
Mode: hybrid
Eval score: 7
Mode: mix
Eval score: 6